body{
    background-color: black;
    margin: 0;
    font-family: 'Aboreto', cursive;
    font-family: 'Edu QLD Beginner', cursive;
    color: white;
    line-height: 30px;
}

header{
    color: black;
    background-color: aliceblue;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
}

h1, h2{
    font-family: 'Aboreto', cursive;
}

h2{
    font-size: 30px;
}

header img{
    border-radius: 500px;
    width: 500px;
    border: 5px solid black;
    
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
}

main img{
    max-width: 100%;
    margin-left: 80px;
}

a{
    color: aliceblue;
}

a:hover{
    color: rgb(1, 114, 29);
}

footer{
    text-align: center;
    color: black;
    padding: 10px;
    background-color: aliceblue;
}

